extends layout

block content

      .dark-box
      .content
        h1#introduction Introduction
        p
          | Welcome to the Deconstructed API Documentation! You can use our API to send applicaiton interactions, which automatically converges consociate data and provides search, reporting, rule processing and actions off of that data.
        p
          | For reference to how this documentation is built, and the code that is used to produce this documentation, check out the code repositories on github at:
        ul
          li 
            a(href="https://github.com/Deconstructed/Ordbok") Ordbok - The actual documentation repo you're looking at right now.
          li
            a(href="http://github.com/tripit/slate") Slate - Developer's documentation site.
          li 
            a(href="http://wintersmith.io/") Wintersmith - Static site generator.
        each article in articles
          | <h1 id="
          = article.title
          | ">
          = article.title
          | </h1>
          article.article.intro
            section.content
              | !{ typogr(article.intro).typogrify() }
              if article.hasMore
                p.more
                  a(href=article.url) more
      .dark-box
        .lang-selector
          a(href="#", data-language-name="bash") Bash
          a(href="#", data-language-name="javascript") JavaScript