extends layout

block content
  .dark-box
  .content
    each article in articles
      | <h1 id="
      = article.title
      | ">
      = article.title
      | </h1>
      article.article.intro
        section.content
          | !{ typogr(article.intro).typogrify() }
          if article.hasMore
            p.more
              a(href=article.url) more
